.data {
	height: 100%;
}

.graphs {
	height: 95%;
	display: block;
	overflow-y: scroll;
}

.graphs .graph {
	margin: 5px;
	font-size: 13px;
	width: 275px;
	height: 250px;
	display: inline-block;
}

.graphs .graph-wrapper {
	font-size: 20px;
	width: 80%;
	margin: 10px;
	display: block;
}

svg {
	width: 80%;
	height: 80%;
	min-width: 100px;
	min-height: 100px;
}

svg text {
	font-family: "Open Sans";
}

.tool-tip {
	font-family: "Open Sans";
	font-size: 13px;
}