body {
	font-family: "Open Sans";
	overflow: scroll;
}

.graph {
	margin: 5px;
	font-size: 13px;
	width: 275px;
	height: 250px;
	display: block;
	float: left;
}

.wrapper {
	font-size: 20px;
	width: 80%;
	margin: 10px;
	display: block;
	clear: both;
}

svg {
	width: 80%;
	height: 80%;
	min-width: 100px;
	min-height: 100px;
/*
  margin: 10px;
  Minimum height and width is a good idea to prevent negative SVG dimensions...
  For example width should be =< margin.left + margin.right + 1,
  of course 1 pixel for the entire chart would not be very useful, BUT should not have errors
*/
}

svg text {
	font-family: "Open Sans";
}

.tool-tip {
	font-family: "Open Sans";
	font-size: 13px;
}