.main {
	margin: 0 auto;
	width: 60%;
	border: solid 1px gray;
}

.multiselect {
	text-align: left;
	width: 160px;
	margin: auto 6px;
}

.multiselect b.caret {
	position: absolute;
	top: 14px;
	right: 8px;
}

.container {
	margin: 0 auto;
	width: 960px;
}

.graph {
	padding: 30px 0px 20px 60px;
	width: 95%;
	height: 60%;
	margin: 0 auto;
}

.graph div {
	background-color: steelblue;
	color: white;
	text-align: right;
	padding: 3px;
	margin: 1px;
}

div.bar {
	display: inline-block;
	width: 20px;
	height: 75px;	/* Gets overriden by D3-assigned height below */
	margin-right: 2px;
	background-color: teal;
}