.main {
	margin: 0 auto;
	width: 60%;
	border: solid 1px gray;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.multiselect {
	text-align: left;
	width: 160px;
	margin: auto 6px;
}

.multiselect b.caret {
	position: absolute;
	top: 14px;
	right: 8px;
}