<template name="filters">
    <select class="multiselect video-filter" multiple="multiple">
      <option value="1">item1</option>
      <option value="2">item2</option>
      <option value="3">item3</option>
    </select>

    <select class="multiselect geo-filter" multiple="multiple">
      <option value="4">item4</option>
      <option value="5">item5</option>
      <option value="6">item6</option>
    </select>

    <select class="multiselect edu-filter" multiple="multiple">
      <option value="7">item7</option>
      <option value="8">item8</option>
      <option value="9">item9</option>
    </select>
    
    <select class="multiselect time-filter">
      <option value="10">item10</option>
      <option value="11">item11</option>
      <option value="12">item12</option>
    </select>
</template>