$edx-purple: rgb(179,38,104);
$edx-blue: rgb(30,161,229);

$red: rgb(152,51,50);
$black: #444;
$blue: #1693A5;
$green: #55aa74;
$gray: #8a8c8f;

$primary-color: $edx-purple;
$secondary-color: $edx-blue;