#visualization{
    opacity: 0;
    transition: opacity 250ms;
    .heading{
        border-bottom: 1px solid lighten($gray,20);

        h1{
            font-size: 2em;
            font-weight: 300;
        }
    }

    .data{
        
        margin-top: 1em;
        
    }

    iframe{
        width: 100%;
        border: 0;
        height: 600px;
    }
}