.multiselect {
    font-family: "Open Sans", sans-serif;
}

.multiselect li.filter-divider {
	border-bottom: 1px solid #e5e5e5;
}

.video-filter {
	width: 200%;
}

// .multiselect button.large-filter {
// 	display: inline-block;
// 	width: 200%;
// }