.filters{
    padding-bottom: 1em;
    border-bottom: 1px solid rgb(221, 221, 221);

    .columns{
        padding: 0 20px 10px;
    }

    .multiselect {
        text-align: left;
        font-family: $primary-font;
        float: left;
        width: 100%;
        // width: 140px;
        b.caret {
            position: absolute;
            top: 14px;
            right: 8px;
        }
    }

    .btn-group{
        width: 100%;
    }
}



