a{
    text-decoration: none;
    color: $secondary-color;
    &:hover{
        color: darken($secondary-color, 10);
        text-decoration: none;
    }
    &:active{
        color: darken($secondary-color, 20);
        text-decoration: none;
    }
}
