svg {
	min-width: 100px;
	min-height: 100px;

	text {
		font-family: $primary-font;
		font-size: 13px;
	}
}

.tool-tip {
	font-family: $primary-font;
	font-size: 13px;
}

.graphs {
	margin-top: 10px;

	.graph-wrapper {
		font-size: 20px;
		display: block;
		margin-top: 15px;
	}

	.graph {
		margin-top: 10px;
		font-size: 13px;
		height: 300px;
		display: inline-block;
		text-align: left;
	}

	.clickable:hover {
		cursor: pointer;
	}
}

.no-overflow {
	overflow-y: hidden;
}

button.multiselect.dropdown-toggle {
	margin-right: 35px;
}