nav.tab-bar{
    .left-small{
        border-right: solid 1px transparent;
    }
}

#visualizations{
    padding: 0;
    width: 12*$font-size;
    display: block;
    float: left;
    border-right: $content-border solid $gray;
    height: 100%;
    position: relative;

    ul{
        margin: 0;
        list-style: none;
    }

    li{
        @include box-sizing(border-box);
        @include transition(background-color .25s ease-in-out,
            background-image .25s ease-in-out,
            border .25s ease-in-out);
        font-size: 1.025em;
        width: 12*$font-size;
        text-align: right;
        color: $black;
        border-right: $content-border solid $gray;
        a{
            &:hover{
                background-color: transparent;
            }
            @include transition(color .25s ease-in-out);
            padding-right: 1em;
            color: $black;
            display: block;
            width: 100%;
        }
        .wrapper{
            @include box-sizing(border-box);
            @include transition(background-color .25s ease-in-out,
                border .25s ease);
            height: 100%;
            width: 100%;
            padding: 1em;
            padding-right: 0;
            border-bottom: 1px solid lighten($gray,20);
        }
        &:hover{
            background-color: $primary-color;
            border-right: $content-border+10 solid darken($primary-color, 20);
            color: white;
            a{
                color: white;
            }
            .wrapper{
                border-bottom: 1px solid $primary-color;
            }
        }
        &:last-child{
            .wrapper{
                border-bottom: 0px solid lighten($gray,20); 
            }
        }
        &.selected{
            background-color: $primary-color;
            border-right: $content-border solid darken($primary-color, 20);
            color: white;
            a{
                color: white;
            }
            .wrapper{
                border-bottom: 1px solid $primary-color;
            }
        }
    }
    li.favorites-heading{
        &.selected{
            background-color: $edx-blue;
            border-right: $content-border solid darken($edx-blue, 20);
            .wrapper{
                border-bottom: 1px solid $edx-blue;
            }
        }
        &:hover{
            background-color: $edx-blue;
            border-right: $content-border+10 solid darken($edx-blue, 20);
            .wrapper{
                border-bottom: 1px solid $edx-blue;
            }
        }

    }
    li.favorite{
        margin-left: 20px;
        width: 12*$font-size - 20px;
        display: none;
        border-right: $content-border solid $gray;
        .wrapper{
            border-bottom: 1px solid white;
        }
        &.selected{
            background-color: $edx-blue;
            border-right: $content-border solid darken($edx-blue, 20);
            .wrapper{
                border-bottom: 1px solid $edx-blue;
            }
        }
        &:hover{
            background-color: $edx-blue;
            border-right: $content-border+10 solid darken($edx-blue, 20);
            .wrapper{
                border-bottom: 1px solid $edx-blue;
            }
        }

        // background-image: url('img/favorite.png');
        // background-repeat: no-repeat;
        // background-position: 10% 50%;
        // background-size: 1.5em 1.5em;
        // &:hover, &.selected{
        //     background-size: 0em 0em;
        // }
        background-color: lightgray;
    }
}