.off-canvas-list{
	label{
		font-size: 1.1em;
		text-shadow:
		    -1px -1px 0 #222,
		    1px -1px 0 #222,
		    -1px 1px 0 #222,
		    1px 1px 0 #222;  
			}

}

.left-off-canvas-toggle{
	border-right: 1px solid #ddd;
}

.tab-bar{
	border-bottom: 1px solid #ddd;
}

