<template name="certifications">
  <div class="filters">
    <div class="row">
      <div class="small-6 large-4 columns">{{> filter countryData}}</div>
      <div class="small-6 large-4 columns">{{> filter educationData}}</div>
      <div class="small-6 large-4 columns">{{> filter timeData}}</div>
    </div>
  </div>

  <div class="graphs no-overflow">
    <div class="graph-wrapper row">
    	<div class="graph small-12 columns" id="certifications_chart">
        	<svg></svg>
        </div>
    </div>
   </div>
</template>