<template name="course_summary">
  <div class="filters">
    {{> filter videoData}}
    {{> filter countryData}}
    {{> filter educationData}}
  </div>

  <div class="graphs">
    <div class="graph-wrapper">
      <div>Video Engagement</div>
      <div class="graph clickable" id="chart1">
        <svg></svg>
        Total Views
      </div>
      <div class="graph clickable" id="chart2">
        <svg></svg>
        Total Minutes
      </div>
    </div>

    <div class="graph-wrapper">
      <div>Student Performance</div>
      <div class="graph" id="chart3">
        <svg></svg>
        Total Attempts v. Correct
      </div>
      <div class="graph clickable" id="chart4">
        <svg></svg>
        Certifications
      </div>
    </div>
  </div>
</template>