<template name="course_summary">
  <div class="main">
    <div class="wrapper">
      <div>Video Engagement</div>
      <div class="graph" id="chart1">
        <svg></svg>
        Total Views
      </div>
      <div class="graph" id="chart2">
        <svg></svg>
        Total Minutes
      </div>
    </div>

    <div class="wrapper">
      <div>Student Performance</div>
      <div class="graph" id="chart3">
        <svg></svg>
        Total Attempts v. Correct
      </div>
      <div class="graph" id="chart4">
        <svg></svg>
        Certifications
      </div>
      <div class="graph" id="chart6">
        <svg></svg>
      </div>
      <div class="graph" id="chart7">
        <svg></svg>
      </div>
    </div>
    <div class="wrapper">
      <div class="graph" id="chart0">
        <svg></svg>
      </div>
    </div>
  </div>
</template>