<template name="demographics">
  <div class="filters">
    <div class="row">
      <div class="small-6 large-4 columns">{{> filter countryData}}</div>
      <div class="small-6 large-4 columns">{{> filter educationData}}</div>
      <div class="small-6 large-4 columns">{{> filter timeData}}</div>
    </div>
  </div>
  
  <div class="graphs">
    <div class="graph-wrapper row">
      <div>Students Enrolled</div>
      <div class="graph small-12 columns" id="enrollment_chart">
        <svg></svg>
      </div>
    </div>
    <div class="graph-wrapper row">
      <div>Student Breakdown</div>
      <div class="graph small-12 large-6 columns" id="chart0">
        <svg></svg>
      </div>
      <div class="graph small-12 large-6 columns" id="age_chart">
        <svg></svg>
      </div>
<!--       <div class="graph full" id="map_chart">
      </div> -->
    </div>
  </div>
</template>