<template name="video_activity">
  <div class="filters">
    <div class="row">
      <div class="small-6 large-3 columns">{{> filter videoData}}</div>
      <div class="small-6 large-3 columns">{{> filter countryData}}</div>
      <div class="small-6 large-3 columns">{{> filter educationData}}</div>
      <div class="small-6 large-3 columns">{{> filter timeData}}</div>
    </div>
  </div>
   
  <div class="graphs">
    <div class="graph-wrapper">
    	<div>Views</div>
    	<div class="graph full full-height" id="video_chart">
        	<svg></svg>
        </div>
    </div>
    <div class="graph-wrapper">
    	Minutes
    	<div class="graph full full-height" id="minutes_chart">
        	<svg></svg>
        </div>
    </div>
  </div>
</template>