<template name="video_activity">
  <div class="filters">
    {{> filter videoData}}
    {{> filter countryData}}
    {{> filter educationData}}
    {{> filter timeData}}
  </div>
   
  <div class="graphs">
    <div class="graph-wrapper">
    	<div>Views</div>
    	<div class="graph full full-height" id="video_chart">
        	<svg></svg>
        </div>
    </div>
    <div class="graph-wrapper">
    	Minutes
    	<div class="graph full full-height" id="minutes_chart">
        	<svg></svg>
        </div>
    </div>
  </div>
</template>